 <h1 class="display-5" style="margin-left: 250px;">Welcome To <span style="color:tomato;">Angular Dashboard</span></h1>
<div class="container">
  <div class="row">
    <img src="assets/images/img1.jpg" width:100px height:100px>
      <p><span style="color:tomato; margin-left: 10px;font-size: 20px; margin-top: 30px;">Mary Simmons</span>&nbsp;&nbsp;[Designation:&nbsp;<u>Junior Angular Developer</u>]</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ligula ex, laoreet a venenatis ac, vulputate nec lectus. In eu odio arcu. In tincidunt nulla et ipsum varius eleifend nec eget metus. Curabitur vel erat at libero finibus pretium non nec eros. Vestibulum arcu velit, auctor vel suscipit vel, tempus vitae nunc. Mauris non purus tincidunt, facilisis massa nec, rutrum lectus. Phasellus egestas rhoncus suscipit. Praesent tristique sed augue bibendum blandit.</p>

  </div>
</div> 

