<div class="container-fluid"> 
  <nav class="navbar navbar-default">
    <ul style="list-style-type: none; margin-left:250px;">
      <li style="display:inline-block; padding: 12px; background-color:#ee5251; border-right: 1px solid white;"><a routerLink="home" routerLinkActive="active" style="text-decoration: none; color:white">Home Page</a></li>
      <li style= "display:inline-block; padding: 12px; background-color:#ee5251; border-right: 1px solid white;"><a routerLink="login" routerLinkActive="active" style="text-decoration: none; color:white">Login Form</a></li>
      <li style= "display:inline-block; padding: 12px; background-color:#ee5251; border-right: 1px solid white;
      "><a routerLink="register" routerLinkActive="active" style="text-decoration: none; color:white">Registeration Form</a></li>
           <li style="display:inline-block; padding: 12px; background-color:#ee5251; border-right: 1px solid white;"><a routerLink="form" routerLinkActive="active" style="text-decoration: none; color:white"> Template Form </a></li>
           <li style="display:inline-block; padding: 12px; background-color:#ee5251; border-right: 1px solid white;"><a routerLink="contact" routerLinkActive="active" style="text-decoration: none; color:white"> Reactive Form </a></li>

    </ul>
  </nav>
</div>
<router-outlet></router-outlet>













